.container {
    width: 1280px;
    margin: 0 auto;
    padding: 0;
}
.grid {
    display: grid;
}
.form-grid.grid{
    grid-template-columns: 1fr;
    gap: 30px;
}
.form-grid.grid .range-cell.grid{
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
input[type="range"]{
    width: 100%;
}
